<header>
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> +591 73218363</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> stephanie.saavedra@ucb.edu.bo</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> La Paz, Bolivia</a></li>
        </ul>
        <ul class="header-links pull-right">
          <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
          <li><a routerLink="/"><i class="fa fa-home"></i>Home</a></li>
          <li><a routerLink="/login"><i class="fa fa-user-o"></i> Sign In</a></li>
          <li><a routerLink="/register"><i class="fa fa-user-o"></i> Sign Up</a></li>
        </ul>
      </div>
    </div>
  
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
              <br>
              <div class="header-logo">
                  <a routerLink="/" class="logo">
                  <img src="https://cdn-images-1.medium.com/max/640/1*11v8YEqVzUt6-dUGQF_zaw@2x.png" alt="" width="200px" height="50px">
                  </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <nav id="navigation"> </nav>
  
